# dependencies
**/node_modules/

# logs
**/logs/
*.log

# runtime
*.pid

# database
*.sqlite
*.sqlite3
*.db

# build
**/dist/
**/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/
.tmp/

# env
*.env

backend-api/.env
/backend-api/public/uploads
frontend-spa/.env.production
